# Configurações do Banco de Dados MySQL (Padrão XAMPP)
DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=spm_fiscal

# Autenticação JWT
JWT_SECRET=spm_store_chave_secreta_jwt_producao_2026

# Porta da Aplicação
PORT=3000

# GEMINI_API_KEY
GEMINI_API_KEY=

# APP_URL
APP_URL=http://localhost:3000

# Google Drive para Desktop (100% Offline / Monitoramento em Tempo Real)
GDRIVE_DESKTOP_PATH=I:\Meu Drive\SPM Store\SPM Verniz Elite\SPM Verniz\Verniz Elite SPM Pedidos\Notas_Fiscais
GDRIVE_AUTO_SYNC=true
